<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>
		<%= title %>
	</title>
	<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
	<!-- Bootstrap Core CSS -->
	<!--<link href="../admin_page/css/bootstrap.min.css" rel="stylesheet">-->

	<!-- Custom CSS -->
	<!--<link href="../admin_page/css/sb-admin.css" rel="stylesheet">-->

	<!-- Morris Charts CSS -->
	<!--<link href="../admin_page/css/plugins/morris.css" rel="stylesheet">-->

	<!-- Custom Fonts -->
	<!--<link href="../admin_page/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">-->

	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
	<script>
$(document).ready(function(){
    var serverPath = "http://localhost:3004/";
    $('#product-submit').click(function(e){
        e.preventDefault();

        var Products = [];
        if($('input:checkbox:checked').length > 0){
            for(var i = 1; i <= $('input:checkbox').length; i++){
                if($("#cbox" + i).is(':checked')){
                    Products.push($("#cbox" + i).val());
                }
            }
            $.post(serverPath + "users/saveProduct",{
                Products : Products 
                },function(data){
                if(data.Error) {
                    alert(data.Error);
                } 
                else {
                    window.location.replace(data.Index);
                }
            });
        }
        else{
            alert("請選擇產品");
        }
    });
});
</script>
</head>

<body>
	<div>
		<% if (userName != null) { %>
			<a>
				<%= userName %>，請選擇產品。</a><br>
			<% } %>
				<div id="ProductsDiv">
					<% if (products != null) { %>
						<% for(var i=0; i < products.TotalProducts; i++) {%>
							<label>
                                <input type="checkbox" id='<%= "cbox" + (i+1) %>' value= '<%= products["Product" + (i+1)].Name %>' ><%= products["Product" + (i+1)].Name %></label><br>
							<% } %>
								<% } %>
				</div>
				<input type="button" id="product-submit" value="Add to cart" class="btn btn-primary">
	</div>
</body>

</html>